#login h1 a {
	background: url(https://gemisoft.com.vn/frontend/images/logo.png) no-repeat !important;
	width: 100%;
}
body.login {
	background-image: url(image/1.jpg)!important;
	/* background-size: cover; */
	background-repeat: no-repeat;
	background-attachment: fixed;
    background-position: center;  
}
.login form {
	box-shadow: 0 1px 3px rgba(0, 0, 0, 1) !important;
}
#nav,
#backtoblog {
	display: none;
}